<div class="container">
	<div style="margin-top: 25px">
		<% flash.each do |key, value| %>
			<div style="text-align: center; " class="alert alert-<%= key %>">
				<%= value %>
			</div>
		<% end %>
	</div>	





<div class="container">
	<h2 style="color: rgb(204, 122, 0); margin-left: 50%; margin-top: 100px" class="glyphicon glyphicon-menu-down" aria-hidden="true">	
	</h2> 

	<hr style="margin-bottom: 50px; margin-top: 50px">


	<div style="overflow: hidden;">
		<% provide(:title, "Log in") %>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<%= bootstrap_form_for(:session, url: login_path) do |f| %>
				<%= f.email_field :email, label: 'Email'%><br>
			    <%= f.password_field :password, label: 'Password'%>
			    <%= f.submit "Log in", class: "btn" %><br>
			    <% end %>

			</div>
			
		</div>
	</div>

</div>


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdn.rawgit.com/HubSpot/tether/v1.3.4/dist/js/tether.min.js"></script>
<script src="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
<script>
  $('body').bootstrapMaterialDesign();
</script>





