<div class="container">
	<div class="body">

		<% if !flash[:notice].blank? %>
			<div class="incorrect">
			   <div class = "alert alert-danger">
			      <%= flash[:notice] %>
			   </div>
			</div>
		<% end %>

		<% provide(:title, "Log in") %>
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<h5 style="color: grey"> LOGIN </h5>
				<hr style="margin-bottom: 30px">

				<%= bootstrap_form_for(:session, url: login_path) do |f| %>
				<%= f.email_field :email, label: 'Email'%><br>
			    <%= f.password_field :password, label: 'Password'%>

			    <%= link_to "forgot password", new_password_reset_path %>
			    <div style="margin-top: 30px">
			    	<%= f.submit "Log in", class: "btn btn-outline" %><br>
			    </div>
			    <% end %>

			    <%= link_to root_path, class: 'btn btn-outline-warning' do %>
		              Cancel
		            <% end %>

			</div>
			
		</div>
	</div>

</d	iv>


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdn.rawgit.com/HubSpot/tether/v1.3.4/dist/js/tether.min.js"></script>
<script src="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
<script>
  $('body').bootstrapMaterialDesign();
</script>





