<div class="container" style="height: 500px">
	<div style="margin-top: 120px; margin-bottom: -50px">
		<% flash.each do |key, value| %>
			<div style="text-align: center; " class="alert alert-<%= key %>">
				<%= value %>
			</div>
		<% end %>
	</div>	



	<div class="row" style="margin-top: 200px; margin-bottom: 100px">
		<div class="col-xs-6 col-md-offset-2" >
			<h5 style="color: grey"> NEW USER </h5>
			<hr style="margin-bottom: 30px">

				<%= bootstrap_form_for(@admin) do |f| %>

				<%= f.select :role, options_for_select(Admin::ROLES), {}, class: "form-control" %> <br>
				

				<%= f.text_field :first_name, label: 'First Name'%> <br>
				<%= f.text_field :last_name, label: 'Last Name' %> <br>
				<%= f.text_field :email, label: 'Email Address' %> <br>
				<%= f.telephone_field :tel, label: 'Contact Number'%> <br>

				<%= f.password_field :password, label: 'Password' %> <br>
				<%= f.password_field :password_confirmation, label: 'Confirm Password' %> <br>


				<div style="margin-top: 30px">
					<%= f.submit "Create Admin", class: 'btn btn-outline' %>
				</div>

				<% end %>
				
				<%= link_to drivers_path, class: 'btn btn-outline-warning' do %>
	              Cancel
	            <% end %>
	
		</div>
	</div>
</div>


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdn.rawgit.com/HubSpot/tether/v1.3.4/dist/js/tether.min.js"></script>
<script src="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
<script>
  $('body').bootstrapMaterialDesign();
</script>
