<div class="container-fluid" style="background-color: #262626; height: 1000px">
	<div class="container">
	
		<div class="row" style="margin-top: 130px;">
			 <%= link_to driver_path(@driver.id), class: 'btn btn-outline-warning', data: { disable_with: "Please wait..." } do %>
		  		 Back
              <% end %> <br>

			<div class="col-xs-12 col-lg-8 col-lg-offset-2" style="	background-color: #404040; padding: 20px; 
	border-radius: 3px;">
				<h3 id="cards-heading"> 
					INVOICES 
				</h3>
				<div id="invoices">

					<% @invoices.each do |i| %>
					  <p>
					    <strong><%= i.created_at.strftime("%Y-%m-%d") %></strong><br>
					    <i style="font-style: italic"> <%= i.attachment.file.filename %></i><br>
					  </p>
					    <%= link_to "View", i.attachment_url, target: :_blank, class: "btn btn-outline-primary" %>
					      
				      <% if admin_logged_in? %>
				        <%= link_to "Delete",driver_invoice_path(i.id), method: :delete, class: "btn btn-outline-danger", data: {confirm: "Are you sure that you wish to delete #{i.attachment.file.filename}?", disable_with: "Deleting..." }%>
				      <% end %>
					   <hr>

					<% end %> 
				</div>
			</div>
		</div>
	</div>
</div>
