
<div class="container" style="padding-top: 100px">

	<% if !flash[:notice].blank? %>
	   <div class = "alert alert-info">
	      <%= flash[:notice] %>
	   </div>
	<% end %>

	<br />

	<%= link_to "New Invoice", new_invoice_path, class: "btn btn-outline-primary" %>
	<br />
	<br />

	<table class = "table table-striped">
	   <thead>.
	      <tr>
	         <th>Name</th>
	         <th>Download Link</th>
	         <th> </th>
	      </tr>
	   </thead>
	   
	   <tbody>
	      <% @invoices.each do |invoice| %>
	         
	         <tr>
	            <td><%= invoice.first_name %></td>
	            <td><%= link_to "Download invoice", invoice.attachment_url %></td>
	            <td><%= button_to "Delete",  invoice, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete for #{invoice.first_name}?" %></td>
	         </tr>
	         
	      <% end %>
	   </tbody>
	   
	</table>
</div>
