
<% bookings.each do |b| %>

	<p><strong> Date: </strong> <%= b.date %> </p>
	<p><strong> Time: </strong> <%= b.time.strftime("%I:%M")  %></p>
	<p><strong> Car: </strong> <%= b.make %>, <%= b.model %> </p>
	<p><strong> Description: </strong> <i style="font-style: italic"><%= b.description %></i> </p>
	
	<button class="btn btn-outline" id="btnConfirm" type="button">
		<span class="glyphicon glyphicon-ok" style="color: #cc7a00; margin-right: 10px"></span>
		Confirm
	</button>
	<br>
	<button class="btn btn-warning" id="btnCancel" type="button">
		<span class="glyphicon glyphicon-remove" style="color: #cc7a00; margin-right: 10px"></span>
		Cancel 
	</button>

	
	<hr>
<% end %>

	<button class="btn btn-warning" id="btnConfirm" type="button">
		<span class="glyphicon glyphicon-remove" style="color: #cc7a00; margin-right: 10px"></span>
		Confirm 
	</button>

<div style="text-align: center">
  <% if bookings.count > 2  %>
    <%= link_to "See Older",driver_bookings_path(@driver.id), class: "btn btn-outline" %>  
  <% end %>
</div>

          