<p><strong> Date: </strong> <%= booking.date %> </p>
<p><strong> Time: </strong> <%= booking.time.strftime("%I:%M")  %></p>
<p><strong> Car: </strong> <%= booking.make %>, <%= booking.model %> </p>
<p><strong> Description: </strong> <i style="font-style: italic"><%= booking.description %></i> </p>

<button class="btn btn-outline" id="btnConfirm" type="button">
	<span class="glyphicon glyphicon-ok" style="color: #cc7a00; margin-right: 10px"></span>
	Confirm
</button>
<br>
<button class="btn btn-warning" id="btnCancel" type="button">
	<span class="glyphicon glyphicon-remove" style="color: #cc7a00; margin-right: 10px"></span>
	Cancel 
</button>

	
<hr>




          

          