<strong>Registered Cars</strong> <br>
<% @cars.each do |c| %>
  <p>
    <hr>
    <strong>Make:</strong> <i style="font-style: italic"> <%= c.make %></i><br>
    <strong>Model:</strong> <i style="font-style: italic"> <%= c.model %></i><br>
    <strong>Vehicle Reg:</strong> <i style="font-style: italic"> <%= c.vehicle_reg %> </i><br>
    <strong>Service Status:</strong> <i style="font-style: italic"> <%= c.status %> </i>
  </p>
  <button id="dataStreamBtn" class="btn btn-outline-primary" disabled> Live Data Stream </button>

	<hr>

  <div style="display: inline-block;"><%= image_tag 'obd_image.jpg', :size => '260x180' %></div>
  <div style="display: inline-block;"><%= image_tag 'obd_image2.jpg', :size => '260x180' %></div><br>

  <p style="margin-top: 10px">
    <strong> 
      To enable LIVE DATA STREAM please contact our head office<br>
      to get equiped with our own On Board Diagnostics Dongle
  </strong> <br><br>
    Email Us: info@madb.co.za <br>
    Call Us: +27 016 421 1318 <br>
    Visit Us: 17A Telford Street, Stand Number 4, Duncanville, Vereeniging
  </p>



  <p>
  	<span  id="car_rpm"> </span>
  	<br>
  	<span id="car_speed"> </span>
  	<br>

  	<span id="engine_runtime"> </span>
  	<br>
  	<span id="fuel_level"> </span>
  	<br>

  	<span id="fuel_consumption_rate"> </span>
  	<br>
  	<span id="throttle_pos"> </span>
  	<br>

  	<span id="air_fuel_ratio"> </span>
  	<br>
  	<span id="engine_oil_temp"> </span>
  	<br>

  	<span id="air_intake_temp"> </span>
  	<br>
  	<span id="dtc_number"> </span>
  </p> 
<% end %> 

<div style="text-align: center">
  <%= will_paginate @cars, renderer: BootstrapPagination::Rails %>
</div>

<script type="text/javascript">
  $(document).ready(function(){

  $('#dataStreamBtn').click(function(){
    document.location.reload();
  });
    
  }); 
</script>


