<table class="table table-striped">
  <thead>
    <tr>
      <th><b>CREATED AT</b></th>
      <th><b>DESCRIPTION</b></th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <% invoices.each do |i| %>
        <tr>
          <td><%= i.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= i.attachment.file.filename %></td>
         
            <td style="width: 50px">
              <div style="margin-top: -3px">
                <%= link_to "View", i.attachment_url, target: :_blank, class: "btn btn-primary" %>
              </div>
            </td>
            <td>
              <div style="margin-top: -3px">
                <% if admin_logged_in? %>
                  <%= link_to "Delete",driver_invoice_path(i.id), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure that you wish to delete #{i.attachment.file.filename}?", disable_with: "Deleting..." }%>
                <% end %>
              </div>
            </td>
        </tr>
    <% end %> 
  </tbody>
</table>

<div style="text-align: center">    
  <%= will_paginate @invoices, renderer: BootstrapPagination::Rails %>
</div>
