<table class="table">
  <thead>
    <tr>
    <th><b>Name</b></th>
    <th><b>Email</b></th>
    <th><b>Contact</b></th>
    <th></th>
    </tr>
  </thead>
  <tbody>
    <% drivers.each do |d| %>
      <tr>
        <td><%= d.first_name%> <%= d.last_name%></td>
        <td><%=d.email %></td>
        <td>0<%=  number_to_phone(d.tel).chomp('.0') %></td>
        <td>
          <div  style="margin-top: -5px">
            <%= link_to driver_path(d.id), class: 'btn btn-outline-warning', data: { disable_with: "Please wait..." } do %>
              Manage
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
