<div class = "well">

   <%= bootstrap_form_for [@driver, @booking], html: { multipart: true } do |f| %>
      <%= f.date_field :date, label: 'Date', :required => 'required'%> <br>
      <%= f.time_field :time, label: 'Time', :required => 'required'%> <br>
      <%= f.text_area :description, label: 'What is wrong with your car?', :required => 'required'%>
      
    
      <%= f.submit "Make Booking", class: "btn btn-outline-success", data: { disable_with: "Please wait..." } %>
   <% end %>

</div>