
<div class="container">
	<div class="row" style="margin-bottom: 20px">
		<div class="col-xs-12">
			<h1 style="font-family: Voltaire; margin-top: 80px; margin-bottom: -20px; font-size: 50px"> M.A.D </h1><br>
			<% if admin_logged_in? %>
				<div style="margin-bottom: -15px">
					<%= button_to drivers_path, method: 'get', class: 'btn btn-outline-danger btn-large' do %>
			  			Back to Drivers
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>




<div class="container-fluid" style="background-color: #262626; height: 1000px">
	<div class="container" style="height: 500px">

		<% if !flash[:notice].blank? %>
			<div class="row" style="margin-top: 40px; margin-bottom: -20px">
				<div class="col-xs-8 col-xs-offset-2">
					<div class = "alert alert-success" style="border-radius: 3px; text-align: center">
						<%= flash[:notice] %>
					</div>
				</div>
			</div>
		<% end %>

		<div class="row" style="margin-top: 40px;">
			<!-- Driver -->
			<div class="col-xs-12 col-lg-4" style="background-color: #404040; padding: 20px; border-radius: 3px">
				<h3 style="color: white; font-family: Voltaire; text-align: center"> DRIVER </h3>
				<div style="background-color: white; padding: 20px; border-radius: 3px">
					<strong>First Name:</strong>  <%= @driver.first_name%> <br>
					<hr>
					<strong>Last Name:</strong>  <%= @driver.last_name %> <br>
					<hr>
					<strong>Email:</strong>  <%= @driver.email %> <br>
					<hr>
					<strong>Tel:</strong>  0<%=  number_to_phone(@driver.tel).chomp('.0') %> <br>

					<% if admin_logged_in? %>
						<br>
			            <button type="button" class="btn btn-outline" data-toggle="modal" data-target="#myModal">New Invoice</button> <br>

						<%= link_to new_driver_car_path(@driver.id), class: 'btn btn-outline' do %>
			              Register New Car
			            <% end %>
			        <% end %>
				</div>
				<div style="padding: 20px">	
					<button id="invoices-btn" class="btn btn-outline-danger btn-block" style="margin-bottom: -20px">Invoices</button><br>
					<button id="cars-btn" class="btn btn-outline-danger btn-block" >Cars</button>
				</div>
			</div>
			<!-- END -->

			
			<div  class="col-xs-12 col-lg-7" id="cards"  style="background-color: #404040; margin-left: 30px; padding: 20px; border-radius: 3px;">

				<!-- Headings -->
				<h3 id="invoices-heading" style="color: white; font-family: Voltaire; text-align: center "> 
					INVOICES 
				</h3>
				<h3 id="cars-heading" style="color: white; font-family: Voltaire; display: none; text-align: center ">
					CARS
				</h3>
				<!-- END of Headings -->

				<!-- Invoices -->
				<div id="invoices" style="background-color: white; padding: 20px; border-radius: 3px; height: 400px">

					<% if @driver.invoices.size > 0 %>
						<%= render partial: 'invoices_list', locals: { invoices: @invoices} %>
					<% else %>
						<div style="text-align: center; margin-top: 20px; padding: 40px">
							<strong>No Invoices</strong>
							<hr>
						</div>
					<% end %>
				</div>
				<!-- END of Invoices -->

				<!-- Cars -->
				<div id="cars" style="background-color: white; padding: 20px; border-radius: 3px; height: 400px; display: none">

					<% if @driver.cars.size > 0 %>
						<%= render partial: 'car_list', locals: { cars: @cars} %>
					<% else %>
						<div style="text-align: center; margin-top: 20px; padding: 40px">
							<strong>No Cars</strong>
							<hr>
						</div>
					<% end %>
				</div>
				<!-- END of Cars -->

			</div>	
			<!-- END of Column-->
		</div>
		<!-- END of Row -->
	</div>
	<!-- END of Container -->

<%= render partial: "modal" %>



<script type="text/javascript">
	$(document).ready(function(){

		$('#cars-btn').click(function(){
			$('#cars').show();
			$('#cars-heading').show();
			$('#invoices').hide(); 
			$('#invoices-heading').hide();
		});	

		$('#invoices-btn').click(function(){
			$('#cars').hide();
			$('#cars-heading').hide();
			$('#invoices').show(); 
			$('#invoices-heading').show();
		});	

	});
</script>