

<div class="container-fluid" style="background-color: #262626; padding-bottom: 200px">
	<div class="container" style="padding-top: 110px">

		<h1 class="dashboard"> DASHBOARD </h1>	

		<% if admin_logged_in? %>
			<div style="margin-bottom: -15px; text-align: center">
				<%= button_to drivers_path, method: 'get', class: 'btn btn-outline-danger btn-large' do %>
		  			Back to Drivers
				<% end %>
			</div>
		<% end %>

		<% if !flash[:notice].blank? %>
			<div class="row" style="margin-top: 40px; margin-bottom: -20px">
				<div class="col-xs-8 col-xs-offset-2">
					<div class = "alert alert-success" style="border-radius: 3px; text-align: center">
						<%= flash[:notice] %>
					</div>
				</div>
			</div>
		<% end %>

		<div class="row" style="margin-top: 40px;">
			<!-- Driver -->
			<div class="col-xs-12 col-lg-4" style="background-color: #404040; padding: 20px; border-radius: 3px">

				<h3 style="color: white; font-family: Voltaire; text-align: center"> DRIVER </h3>
				<div style="background-color: white; padding: 20px; border-radius: 3px">
					<strong>First Name:</strong>  <%= @driver.first_name%> <br>
					<hr>
					<strong>Last Name:</strong>  <%= @driver.last_name %> <br>
					<hr>
					<strong>Email:</strong>  <%= @driver.email %> <br>
					<hr>
					<strong>Tel:</strong>  0<%=  number_to_phone(@driver.tel).chomp('.0') %> <br>

					<% if admin_logged_in? %>
						<br>
			            <button type="button" class="btn btn-outline btn-block" data-toggle="modal" data-target="#invoiceModal">New Invoice</button> 
						<%= link_to new_driver_car_path(@driver.id), class: 'btn btn-outline btn-block' do %>
			              Register New Car
			            <% end %>
			        <% end %>
			        
			        <button type="button" class="btn btn-outline btn-block" data-toggle="modal" data-target="#bookingModal" style="margin-top: 10px">New Booking</button>
				</div>
				<div style="padding: 20px">	
				

					<button id="invoices-btn" class="btn btn-outline-danger btn-block" style="margin-bottom: -20px">Invoices</button><br>
					<button id="bookings-btn" class="btn btn-outline-danger btn-block" >Bookings</button>
					<button id="cars-btn" class="btn btn-outline-danger btn-block" >Cars</button>
				</div>
			</div>
			<!-- END -->

			
			<div  class="col-xs-12 col-lg-7 cards" id="cards" >

				<!-- Headings -->
				<h3 id="invoices-heading" class="cards-heading"> 
					INVOICES 
				</h3>
				<h3 id="bookings-heading"  class="cards-heading" style="display: none">
					BOOKINGS
				</h3>
				<h3 id="cars-heading"  class="cards-heading" style="display: none">
					CARS
				</h3>
				<!-- END of Headings -->

				<!-- Invoices -->
				<div id="invoices" class="invoices">

					<% if @driver.invoices.size > 0 %>
						<%= render partial: 'invoices_list', locals: { invoices: @invoices} %>
					<% else %>
						<div style="text-align: center; margin-top: 20px; padding: 40px">
							<strong>No Invoices</strong>
							<hr>
						</div>
					<% end %>
				</div>
				<!-- END of Invoices -->

				<!-- Bookings -->
				<div id="bookings" class="bookings">

					<% if @driver.bookings.size > 0 %>
						<%= render partial: 'bookings_list', locals: { bookings: @bookings} %>
					<% else %>
						<div style="text-align: center; margin-top: 20px; padding: 40px">
							<strong>No Bookings</strong>
							<hr>
						</div>
					<% end %>
				</div>
				<!-- END of Bookings -->

				<!-- Cars -->
				<div id="cars" class="cars">

					<% if @driver.cars.size > 0 %>
						<%= render partial: 'car_list', locals: { cars: @cars} %>
					<% else %>
						<div style="text-align: center; margin-top: 20px; padding: 40px">
							<strong>No Cars</strong>
							<hr>
						</div>
					<% end %>
				</div>
				<!-- END of Cars -->

			</div>	
			<!-- END of Column-->
		</div>
		<!-- END of Row -->
	</div>
	<!-- END of Container -->

<%= render partial: "invoice_modal" %>
<%= render partial: "booking_modal" %>




<script type="text/javascript">
	$(document).ready(function(){

		$('#cars-btn').click(function(){
			$('#cars').show();
			$('#cars-heading').show();

			$('#invoices').hide(); 
			$('#invoices-heading').hide();
			$('#bookings').hide(); 
			$('#bookings-heading').hide();
		});	

		$('#invoices-btn').click(function(){
			$('#invoices').show(); 
			$('#invoices-heading').show();

			$('#cars').hide();
			$('#cars-heading').hide();
			$('#bookings').hide(); 
			$('#bookings-heading').hide();

		});	

		$('#bookings-btn').click(function(){
			$('#bookings').show(); 
			$('#bookings-heading').show();

			$('#cars').hide();
			$('#cars-heading').hide();
			$('#invoices').hide(); 
			$('#invoices-heading').hide();

		});

	});
</script>