<!DOCTYPE html>
<html>
  <head>
    <title>M.A.D</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    
	

    <meta name="viewport" content="width=device-width, initial-scale=1">
 	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
	<%= javascript_include_tag 'application' %>
    

	<!-- Bootstrap Styling -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



	<!-- Adding Custom Fonts -->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Voltaire" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Tenor+Sans" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo" />


	<!-- Bootstrap Material Design -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">
	<style type="text/css">
		.form-control:focus{box-shadow: none; -webkit-box-shadow: none; } 
		.is-focused {color: blue;}
		.has-error 
	</style>
	

  </head>

	<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" >

		<nav class="navbar navbar-inverse navbar-fixed-top" style="font-family: Voltaire; z-index: 10">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
						<span class="icon-bar color"></span>
						<span class="icon-bar color"></span>
						<span class="icon-bar color"></span> 
					</button>
					<a class="navbar-brand active" href="/" style="margin-top: 11px; margin-bottom: -11px">M.A.D</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
      				<ul class="nav navbar-nav navbar-right" style="text-align: left">
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					
						<% if admin_logged_in? %>
				         	<li class="dropdown" style="text-align: left" >
					            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				              		<%= @current_admin.first_name %> (ADMIN)
					            </a>
					            <ul class="dropdown-menu" style="text-align: left">
					            	<% if current_admin.role == "Admin" %>					  
										<li><%= link_to "Drivers", drivers_path %></li>
										<li><%= link_to "Create User", new_admin_path %></li>
									<% end %>
									<li><%= link_to "Change Password", admin_password_change_path(@current_admin) %></li>
									<li class="divider"></li>
									<li>
					              		<%= link_to "Log out", logout_path, method: :delete %>
					              	</li>
					            </ul>
				          	</li>

				        <% elsif driver_logged_in? %>
				        	<li class="dropdown" style="text-align: left" >
					            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				              		<%= @current_driver.first_name %> 
					            </a>
					            <ul class="dropdown-menu" style="text-align: left">
					            	<li><%= link_to "My Dashboard", driver_path(@current_driver.id) %></li>
									<li><%= link_to "Change Password", driver_password_change_path(@current_driver) %></li>
									<li class="divider"></li>
									<li>
					              		<%= link_to "Log out", logout_path, method: :delete %>
					              	</li>
					            </ul>
				          	</li>

				        <% else %>
				        	<li><%= link_to "Log in", login_path %></li>
				        <% end %>
			    	</ul>
			</div>
		</nav>


    	<%= yield %>


  	</body>


</html>
