<!DOCTYPE html>
<html>
  <head>
    <title>M.A.D</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
 	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Bootstrap Styling -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Adding Custom Fonts -->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Voltaire" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Tenor+Sans" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo" />


	<!-- Bootstrap Material Design -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">
	<style type="text/css">
		.form-control:focus{box-shadow: none; -webkit-box-shadow: none; } 
		.is-focused {color: blue;}
		.has-error 
	</style>
  </head>

	<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" >

		<nav class="navbar navbar-inverse navbar-fixed-top" style="font-family: Voltaire; z-index: 10">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand active" href="/" style="margin-top: 11px; margin-bottom: -11px">M.A.D</a>
				</div>
				<ul class="nav navbar-nav pull-right" >
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					

					<% if logged_in? %>
			         	<li class="dropdown" style="text-align: left" >
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			              		<%= @current_admin.first_name %> 
				            </a>
				            <ul class="dropdown-menu" style="text-align: left">
								<li><%= link_to "Admin", admins_path %></li>
								<li><%= link_to "Drivers", drivers_path %></li>
								<li><%= link_to "Settings", '#' %></li>
								<li class="divider"></li>
								<li>
				              		<%= link_to "Log out", logout_path, method: :delete %>
				              	</li>
				            </ul>
			          	</li>
			        <% else %>
			        	<li><%= link_to "Log in", login_path %></li>
			        <% end %>
			    </ul>
			</div>
		</nav>


    	<%= yield %>


  	</body>


</html>
